*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 800px) {
    #main-menu{
        flex-direction: column;
        text-align: center;
    }
    #toggle{
        display: block;
    }
    nav{
        display: none;
    }
}

#toggle{
    background: #f57f26;
    text-align: right;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    display: none;
    
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;  
     
}
nav img{
    width: 400px;
    padding-left: 100px;
}
.menu{
    flex: 1;
    text-align: right;   

}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding-right: 40px;
    position: relative;
}
.menu ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    
}
.menu ul li::after{
    content: '';
    width: 0;
    height: 3px;
    display: block;
    margin: auto;
    background-color: orange;
    transition: 0.5s;
}
.menu ul li:hover::after{
    width: 100%;
}
.col-6{   
   max-width: 400px;
   text-align: justify;  
   color:black;   
   height: 500px;
   padding-top: 90px;
}
.col-4{
    padding-top: 90px;
}

.bonchu{
    display: flex;
    justify-content: space-evenly;        
}
.bonhinhanh{
    display: flex;
    justify-content: space-evenly;       
}
.tuyensinh2{
    display: flex;
    justify-content: space-between; 
}
.col{
    height: 430px;
    background-color: bisque;
    border: 50px solid white;
    text-align: center;       
}
.col img{
    border-radius: 50%;
    padding-top: 35px;
}
.col p{
    padding-top: 80px;
    font-size: 15px;
    font-weight: 500;
}
.doimau{
    font-size: 20px;
    cursor: pointer;
}
.doimau:hover{
    color: #f57f26;
}
.chu{
    color: #f57f26;
    cursor: pointer;
}
.chu:hover{
    color: black;
}
.bando{
    padding-left: 300px;
    padding-bottom: 40px;
}
.lienhe{
    padding-left: 300px;
    background-color:#f57f26;
    color: aliceblue;
}
.bootstrap-icons{
    width: 20px;
}
.hocphi{
    text-align: center;  
    padding-top: 50px;
    
}
.hocphi-iteam1{
    background-color: #f57f26;
    color: aliceblue;
}
.nhaphoc-iteam1{
    background-color:#f57f26;
    color: aliceblue;
}
.thanhtoan-iteam1{
    color: #f57f26;
   
}
.nghanh{
    padding-top: 100px;
    
}


